[submodule "third-party/gsl"]
	path = thirdparty/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "thirdparty/rapidxml_ns"]
	path = thirdparty/rapidxml_ns
	url = https://github.com/svgpp/rapidxml_ns.git
